/*
#
# Footer
#
*/
footer {
    padding:2rem;

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:clamp(2rem, 20vw, 3rem);

    background-color:var(--main-color);
}

#footer-links {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:clamp(0.5rem, 2vw, 4rem);
}

.social-networks {
    padding:0;
    margin:0;
    display:flex;
    list-style-type: none;
}

.social-networks i {
    font-size: clamp(2.5rem, 10vw, 4rem);
    padding: 1rem;

    color: var(--text-color);
    
    transition: 0.3s;
}

.social-networks i:hover {
    transition: 0.3s;
}

/* shortened icon ids to avoid adblocker */
#f-ico:hover {
    color:#1877f2;
}
#t-ico:hover {
    color:#1da1f2;
}
#y-ico:hover {
    color:#ff0000;
}
#i-ico:hover {
    color:#e1306c;
}

.feedback-btn {
    font-size: 1.5rem;
    padding:0.5rem;
    border-radius: 10px;

    background-color:var(--inverted-color);
    color:var(--inverted-text-color);
    text-decoration: none;

    transition: 0.3s;
}

.feedback-btn:hover {
    transition: 0.3s;
    transform: scale(1.05);
}