/*
#
# Header
#
*/
header {
    background-color: var(--main-color);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height:6rem;
    top: 0;
    z-index: 99;
    box-shadow: -1px 21px 29px -21px rgba(0,0,0,0.49);
}

header > a {
    display:flex;
    align-items: center;
    gap:1vw;
    height:100%;
    padding:0rem 2vw;
    z-index: 99;
    background-color: var(--secondary-color);
}

header > a img {
    display:flex;
    height:80%;
}

/*
#
# Navbar
#
*/
#main-nav ul {

}

#main-nav ul li {
    flex-direction: row;
}


#main-nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    width:clamp(5rem, 40vw, 20rem);
    height:clamp(5rem, 40vw, 20rem);
    border-radius:10px;
    text-decoration: none;
    color: var(--inverted-text-color);
    background-color: var(--inverted-color);
    /* min-width: 5rem; */
    transition: 0.3s;
}

#main-nav a:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

#main-nav a h3 {
    color:black;
    font-size: 1.5rem;
    margin-top:auto;
}

#main-nav a img {
    max-width:90%;
    max-height:90%;
    margin:auto;
}

#main-nav input[type="checkbox"]:checked + ul li:first-child{
    display:none;
}

#hamburger-btn {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 1.2em;
    right: 2em;
    position:fixed;
    height: 4em;
    width: 4em;
    z-index:99;
}
#hamburger-btn:hover {
    cursor:pointer;
}
#hamburger-btn span {
    width:2em;
    height:0.3em;
    background-color:var(--text-color);
    margin:0.2em;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
    border-radius: 5px;
}
#hamburger-btn span:first-child {
    transform: rotateZ(0deg);
    transform-origin: 100%;
    transition-delay: 0.1s;
}
#hamburger-btn span:nth-child(2) {
    opacity: 1;
    transition: opacity, 0.1s;
    transition-delay: 0.3s;
}
#hamburger-btn span:last-child {
    transform: rotateZ(0deg);
    transform-origin: 100%;
    transition-delay: 0.1s;
}
#main-nav input[type="checkbox"] {
    display:none;
}
#main-nav input[type="checkbox"]:checked + #hamburger-btn span:first-child  {
    transform: rotateZ(-45deg) translate(-0.2em, -0.2em);
    transform-origin: 100%;
}
#main-nav input[type="checkbox"]:checked + #hamburger-btn span:nth-child(2) {
    opacity: 0;
    transition: opacity, 0.1s;
    
}
#main-nav input[type="checkbox"]:checked + #hamburger-btn span:last-child {
    transform: rotateZ(45deg) translate(-0.2em, 0.2em);
    transform-origin: 100%;
    
}

#main-nav input[type="checkbox"] ~ ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(5rem, 40vw, 20rem));
    grid-auto-rows: minmax(150px, auto);
    width:100vw;
    justify-content: space-around;
    gap:2rem;
    padding:3rem 10vw;
    position:fixed;
    background-color: var(--secondary-color);
    border-bottom-left-radius: 5px;
    top:calc(-100vh + 6rem);
    left:0vw;
    width:100vw;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height:calc(100vh - 6rem);
    z-index:98;
    margin:0;

    transition: 0.5s ease top;
    box-shadow: -21px -0px 29px -21px rgba(0,0,0,0.49);
}

#main-nav input[type="checkbox"]:checked ~ ul {
    top:6rem;
    transition: 0.5s ease top;
}