/*
#
# Header
#
*/
header {
    width: 100vw;
    height: 6rem;

    position: fixed;
    top: 0;
    z-index: 98;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--main-color);
    box-shadow: 0px 25px 30px -20px rgba(0,0,0,0.5);
}

header > a {
    height:100%;

    padding:0rem 2vw;

    display:flex;
    align-items: center;
    gap:1vw;
    
    background-color: var(--secondary-color);
}

header > a img {
    height:80%;
}

header > a p {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight:600;
}

/*
#
# Navbar
#
*/
/* Nav container */
#main-nav input[type="checkbox"] ~ ul {
    width:100vw;
    max-height:calc(100vh - 6rem);

    position:fixed;
    z-index:97;
    top:calc(-100vh + 6rem);
    left:0vw;
    margin:0;
    padding:3rem 5vw;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, clamp(5rem, 40vw, 20rem));
    grid-auto-rows: minmax(150px, auto);
    gap:2rem;

    background-color: var(--secondary-color);
    box-shadow: 0px 25px 30px -20px rgba(0,0,0,0.5);
    
    list-style-type: none;
    overflow-y: scroll;

    transition: 0.5s ease top;
}

/* Animate container */
#main-nav input[type="checkbox"]:checked ~ ul {
    top:6rem;
    transition: 0.5s ease top;
}

#main-nav a {
    width:clamp(5rem, 40vw, 20rem);
    height:clamp(5rem, 40vw, 20rem);

    padding:1rem;
    border-radius:10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: var(--inverted-text-color);
    background-color: var(--inverted-color);
    text-decoration: none;

    transition: 0.3s;
}

#main-nav a:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

#main-nav a p {
    color:black;
    text-align: center;
    font-weight: 600;
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-top:auto;
}

#main-nav a img {
    max-width:90%;
    max-height:90%;
    margin:auto;
}

/* hamburger button */
/* hide checkbox that triggers the menu */
#main-nav input[type="checkbox"] {
    display:none;
}

#hamburger-btn {
    height: 4em;
    width: 4em;

    top: 1.2em;
    right: min(3rem, 5vw);
    position:fixed;
    z-index:99;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hamburger-btn:hover {
    cursor:pointer;
}

#hamburger-btn span {
    width:2em;
    height:0.3em;

    margin:0.2em;
    border-radius: 5px;

    background-color:var(--text-color);
    
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
}

#hamburger-btn span:first-child {
    transform: rotateZ(0deg);
    transform-origin: 100%;
    transition-delay: 0.1s;
}

#hamburger-btn span:nth-child(2) {
    opacity: 1;
    transition: opacity, 0.1s;
    transition-delay: 0.3s;
}

#hamburger-btn span:last-child {
    transform: rotateZ(0deg);
    transform-origin: 100%;
    transition-delay: 0.1s;
}

/* hamburger button in open state */
#main-nav input[type="checkbox"]:checked + #hamburger-btn span:first-child  {
    transform: rotateZ(-45deg) translate(-0.2em, -0.2em);
    transform-origin: 100%;
}

#main-nav input[type="checkbox"]:checked + #hamburger-btn span:nth-child(2) {
    opacity: 0;
    transition: opacity, 0.1s;
}

#main-nav input[type="checkbox"]:checked + #hamburger-btn span:last-child {
    transform: rotateZ(45deg) translate(-0.2em, 0.2em);
    transform-origin: 100%;
}