@import url("reset.css");
@import url("header.css");
@import url("footer.css");

/*
#
# General styling
#
*/

/* Set variables */
:root {
    --text-color: #F2F7FF;
    --inverted-text-color: black;
    --main-color: #0B409C;
    --secondary-color: #10316B;
    --inverted-color: #FDBE34;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    background-color:var(--inverted-color);
    color:var(--text-color);    
}

a {
    text-decoration:none;
    color:var(--text-color);
}

/*
#
# Loading font
#
*/
@font-face {
    font-family:"Ubuntu";
    src:    url("../font/Ubuntu-Bold.ttf") format("truetype"),
            url("../font/Ubuntu-Medium.ttf") format("truetype"),
            url("../font/Ubuntu-Regular.ttf") format("truetype"),
            url("../font/Ubuntu-Light.ttf") format("truetype"),
}

/*
#
# Main
#
*/
main {
    margin: 6rem auto 0rem auto;
    min-height: calc(100vh - 21rem);
}


/*
#
# Introduction
#
*/
#introduction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5vw 1rem; 
    gap:10vw;
}

#introduction-image {
}

#introduction-image img {
    max-height: 50vh;
}



#introduction-text {
    max-width:50rem;
    padding:2rem;
    border-radius: 10px;
    background:var(--secondary-color);
}

/*
#
# Overview
#
*/
#overview-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#overview-list {
    list-style-type: none;
    display:flex;
    gap:2rem;

}

#overview-list li {
    
}
#overview-list a {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); 
    display:flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding:2rem;
    
    background-color: var(--secondary-color);
    transition: 0.3s;
}

#overview-list a h3 {
    color:var(--text-color);
    font-size: 2rem;
}

#overview-list a:hover {
    cursor:pointer;
    transform: translateY(-3px);
    transition: 0.3s;
}


/*
#
# Article
#
*/
.part-main {
    display:grid;
    padding:5rem 3rem;
    width:min(95vw, 100rem);
    grid-template-columns: repeat(6, 1fr);
    color:var(--inverted-text-color);
}

article {
    grid-column: 1 / 5;
}

article h1 {
    text-align: center;
    font-size: 3rem;
}

article h2 {
    font-size: 2rem;
}


aside {
    grid-column: 6 / 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:3rem 0rem;
    gap:10vw;
}

article section {
    padding:1rem;
}