@import url("reset.css");
@import url("header.css");
@import url("footer.css");

/*
#
# General styling
#
*/

/* Set variables */
:root {
    --text-color: #F2F7FF;
    --main-color: #0B409C;
    --secondary-color: #10316B;
    --inverted-color: #FDBE34;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    background-color:var(--inverted-color);
    color:var(--text-color);
}



/*
#
# Loading font
#
*/
@font-face {
    font-family:"Red Hat Display";
    src:    url("../font/Ubuntu-Bold.ttf") format("truetype"),
            url("../font/Ubuntu-Medium.ttf") format("truetype"),
            url("../font/Ubuntu-Regular.ttf") format("truetype"),
            url("../font/Ubuntu-Light.ttf") format("truetype"),
}






/*
#
# Main
#
*/
main {
    margin-top: 6rem;

}


/*
#
# Introduction
#
*/
#introduction-container {
    display: grid;
    padding:10vw 1rem; 
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
#introduction-image {

}

#introduction-text {
    max-width:50rem;
    padding:2rem;
    border-radius: 10px;
    background:lightblue;
}

/*
#
# Overview
#
*/
#overview-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#overview-list {
    list-style-type: none;
    display:flex;
    gap:2rem;

}

#overview-list li {
    
}
#overview-list a {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); 
    display:flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding:2rem;
    
    background-color: var(--secondary-color);
    transition: 0.3s;
}

#overview-list a h3 {
    color:white;
    font-size: 2rem;
}

#overview-list a:hover {
    cursor:pointer;
    transform: translateY(-3px);
    transition: 0.3s;
}


/*
#
# Article
#
*/