@import url("reset.css");
@import url("header.css");
@import url("footer.css");

/*
#
# General styling
#
*/

/* Set variables */
:root {
    --text-color: #F2F7FF;
    --inverted-text-color: black;
    --main-color: #0B409C;
    --secondary-color: #10316B;
    --inverted-color: #FDBE34;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    background-color:var(--inverted-color);
    color:var(--text-color);    
}

a {
    text-decoration:none;
    color:var(--text-color);
}

h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}

h2 {
    font-size: clamp(1.25rem, 3vw, 2.5rem);
}
p {
    font-size: 1.25rem;
}

/*
#
# Loading font
#
*/
@font-face {
    font-family:"Ubuntu";
    src:    url("../font/Ubuntu-Bold.ttf") format("truetype"),
            url("../font/Ubuntu-Medium.ttf") format("truetype"),
            url("../font/Ubuntu-Regular.ttf") format("truetype"),
            url("../font/Ubuntu-Light.ttf") format("truetype"),
}

/*
#
# Main
#
*/
main {
    margin: 6rem auto 0rem auto;
    min-height: calc(100vh - 21rem);
}


/*
#
# Introduction
#
*/
#introduction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5vw 1rem; 
    gap:10vw;
}

#introduction-image {
}

#introduction-image img {
    max-height: 50vh;
}



#introduction-text {
    max-width:50rem;
    padding:2rem;
    border-radius: 10px;
    background:var(--secondary-color);
}

/*
#
# Overview
#
*/
#overview-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:5vw 5vw;
}

#overview-list {
    list-style-type: none;
    display:flex;
    gap:2rem;

}

#overview-list li {
    
}
#overview-list a {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); 
    display:flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding:2rem;
    width:clamp(5rem, 40vw, 20rem);
    height:clamp(5rem, 40vw, 20rem);
    background-color: var(--secondary-color);
    transition: 0.3s;
}

#overview-list a h3 {
    color:var(--text-color);
    font-size: 2rem;
    margin-top:auto;
}

#overview-list a img {
    max-width:90%;
    max-height:90%;
    margin:auto;
}
#overview-list a:hover {
    cursor:pointer;
    transform: translateY(-3px);
    transition: 0.3s;
}


/*
#
# Article
#
*/
.part-main {
    display:flex;
    flex-direction: column;
    padding:5rem 3rem;
    width:min(95vw, 120rem);
    color:var(--inverted-text-color);
}

.horizontal-section > .text-block {
    width: min(60rem, 90vw);
}

.horizontal-section > .image-block {
    width: min(25rem, 90vw);
    display:flex;
    justify-content: center;
}


.part-main .horizontal-section {
    gap:clamp(2rem, 10vw, 8rem);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article {
    grid-column: 1 / 5;
}

article h1 {
    text-align: center;
    font-size: 3rem;
}

article h2 {
    font-size: 2rem;
}


article section {
    margin:5vw 0rem;
    padding:1rem;
}

/*
#
# Feedback
#
*/
#feedback-main {
    padding:5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .text-box {
    padding:10px;
    border:2px solid var(--inverted-color);
    margin-bottom:1rem;
    border-radius: 10px;
}
form {
    display: flex;
    background:var(--secondary-color);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4); 
    padding:min(3rem, 5vw);
    border-radius: 10px;
    flex-direction: column;
    width:min(50rem, 90vw);
}
form .btn {
    text-decoration: none;
    background:var(--inverted-color);
    color:black;
    border-radius: 10px;
    font-size: 1.5rem;
    padding:0.5rem;
    transition: 0.3s;
}

form textarea {
    min-height: 5rem;
    resize: vertical;
}
form .btn:hover {
    transition: 0.3s;
    transform: scale(1.05);
    
}

form #form-control {
    display: flex;
    justify-content: space-between;
}

/*
#
# 404 page
#
*/
#error-page {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--inverted-text-color);
}

#error-page h1 {
    font-size: 6rem;
}

#error-page p {
    font-size: 2rem;
}

#error-page i {
    font-size: 8rem;
    color:rgb(200, 0, 0);
}

#error-page .btn {
    text-decoration: none;
    background:var(--secondary-color);
    color:var(--text-color);
    border-radius: 10px;
    font-size: 2rem;
    padding:1rem;
    margin:1rem;
    transition: 0.3s;
}

#error-page .btn:hover {
    transition: 0.3s;
    transform: scale(1.05);
    
}